<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.appauth.adminApi.mapper.AdminAppAuthMapper">

    <resultMap id="appAuthResult" type="cn.muye.appauth.domain.AppAuth">
        <result property="id" column="ID"/>
        <result property="appId" column="APP_ID"/>
        <result property="startTime" column="START_TIME"/>
        <result property="endTime" column="END_TIME"/>
        <result property="snCodeArr" column="SN_CODE_ARR"/>
        <result property="userId" column="USER_ID"/>
        <result property="authLimit" column="AUTH_LIMIT"/>
        <result property="validityPeriod" column="VALIDITY_PERIOD"/>
    </resultMap>

    <resultMap id="appAuthDtoResult" type="cn.muye.appauth.dto.AppAuthDto">
        <result property="id" column="ID"/>
        <result property="appId" column="APP_ID"/>
        <result property="startTime" column="START_TIME"/>
        <result property="endTime" column="END_TIME"/>
        <result property="snCodeArr" column="SN_CODE_ARR"/>
        <result property="userName" column="USER_NAME"/>
        <result property="authLimit" column="AUTH_LIMIT"/>
        <result property="validityPeriod" column="VALIDITY_PERIOD"/>
    </resultMap>

    <select id="list" resultMap="appAuthDtoResult">
        select
            auth.ID as ID,
            auth.APP_ID as APP_ID,
            auth.START_TIME as START_TIME,
            auth.END_TIME as END_TIME,
            auth.SN_CODE_ARR as SN_CODE_ARR,
            auth.AUTH_LIMIT,
            auth.VALIDITY_PERIOD,
            user.USER_NAME as USER_NAME
        from D_APP_AUTH auth left join D_USER user on auth.USER_ID = user.ID
        order by ID desc
    </select>

    <select id="getById" resultMap="appAuthResult">
        select
            auth.ID as ID,
            auth.APP_ID as APP_ID,
            auth.START_TIME as START_TIME,
            auth.END_TIME as END_TIME,
            auth.SN_CODE_ARR as SN_CODE_ARR,
            auth.USER_ID,
            auth.AUTH_LIMIT,
            auth.VALIDITY_PERIOD
        from D_APP_AUTH auth
        where auth.ID = #{id}
    </select>

    <update id="update">
        update D_APP_AUTH set AUTH_LIMIT= #{authLimit},VALIDITY_PERIOD= #{validityPeriod},END_TIME= #{endTime} where ID= #{id}
    </update>
</mapper>