<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<Resource>logs/daily/rest-demo.log</Resource>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <FileNamePattern>/opt/devCenter/logs/daily/rest-access.%d{yyyy-MM-dd}.log</FileNamePattern>

            <!-- keep 365 days' worth of history -->
            <maxHistory>365</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
        </encoder>
    </appender>



    <!--log4jdbc -->
    <root>
        <!--<logger name="com.ibatis" level="debug" />-->
        <level value="info" />
        <appender-ref ref="consoleAppender" />
        <!--<appender-ref ref="dailyRollingFileAppender" />-->
        <!--<appender-ref ref="minuteRollingFileAppender" />-->
    </root>
</configuration>