<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.user.api.mapper.UserMapper">

    <resultMap id="userResult" type="cn.muye.user.domain.User">
        <result property="id" column="ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="emailAddress" column="EMAIL_ADDRESS"/>
        <result property="sex" column="SEX"/>
        <!--<result property="passwordChangeRequired" column="PASSWORD_CHANGE_REQUIRED"/>-->
        <!--<result property="receiveEmail" column="RECEIVE_EMAIL"/>-->
        <!--<result property="registered" column="REGISTERED"/>-->
        <result property="activated" column="ACTIVATED"/>
        <result property="lastVisit" column="LAST_VISIT"/>
        <result property="userRoleId" column="USER_ROLE_ID"/>
        <!--<result property="appKey" column="APP_KEY"/>-->
        <!--<result property="appSecret" column="APP_SECRET"/>-->
        <result property="phone" column="PHONE"/>
        <result property="company" column="COMPANY"/>
        <result property="level" column="LEVEL"/>
        <result property="isAdminUser" column="IS_ADMIN_USER"/>
    </resultMap>

    <sql id="Base_Column_List">
      ID, USER_NAME, PASSWORD, EMAIL_ADDRESS, SEX, LAST_VISIT, COMPANY, PHONE,USER_ROLE_ID,LEVEL,IS_ADMIN_USER
    </sql>

    <select id="getUserById" resultMap="userResult">
        select
        <include refid="Base_Column_List"/>
        from D_USER u where u.ID = #{id}
    </select>

    <!-- 前台用户查询 -->
    <select id="checkCustomerLogin" resultMap="userResult">
        select
        <include refid="Base_Column_List"/>
        from D_USER u where u.USER_NAME = #{userName} and u.PASSWORD = #{password} and u.IS_ADMIN_USER = 0 and u.ACTIVATED = 1
    </select>

    <select id="getUserByName" resultMap="userResult">
        select
        <include refid="Base_Column_List"/>
        from D_USER u where u.USER_NAME = #{userName}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into D_USER(
            USER_NAME,
            PASSWORD,
            SEX,
            EMAIL_ADDRESS,
            ACTIVATED,
            LAST_VISIT,
            COMPANY,
            PHONE,
            USER_ROLE_ID
        ) values (
            #{userName},
            #{password},
            #{sex},
            #{emailAddress},
            #{activated},
            #{lastVisit},
            #{company},
            #{phone},
            #{userRoleId}
        )
  </insert>
</mapper>