<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.user.api.mapper.UserMapper">

    <resultMap id="userResult" type="cn.muye.user.domain.User">
        <result property="id" column="ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="password" column="PASSWORD"/>
        <result property="emailAddress" column="EMAIL_ADDRESS"/>
        <result property="sex" column="SEX"/>
        <result property="activated" column="ACTIVATED"/>
        <result property="lastVisit" column="LAST_VISIT"/>
        <result property="userRoleId" column="USER_ROLE_ID"/>
        <result property="phone" column="PHONE"/>
        <result property="company" column="COMPANY"/>
        <result property="level" column="LEVEL"/>
        <result property="isAdminUser" column="IS_ADMIN_USER"/>
        <result property="bizId" column="BIZ_ID"/>
        <result property="salesMan" column="SALES_MAN"/>
        <result property="type" column="TYPE"/>
    </resultMap>

    <sql id="Base_Column_List">
      ID, USER_NAME, PASSWORD, EMAIL_ADDRESS, SEX, LAST_VISIT, COMPANY, PHONE,USER_ROLE_ID,LEVEL,IS_ADMIN_USER,ACTIVATED,BIZ_ID, SALES_MAN, TYPE
    </sql>

    <select id="getUserById" resultMap="userResult">
        select
        <include refid="Base_Column_List"/>
        from D_USER u where u.ID = #{id}
    </select>

    <!-- 前台用户查询 -->
    <select id="checkCustomerLogin" resultMap="userResult">
        select
        <include refid="Base_Column_List"/>
        from D_USER u where u.USER_NAME = #{userName} and u.PASSWORD = #{password} and u.IS_ADMIN_USER = 0
    </select>

    <select id="getUserByName" resultMap="userResult">
        select
        <include refid="Base_Column_List"/>
        from D_USER u where u.USER_NAME = #{userName}
    </select>

    <select id="getByCompany" resultMap="userResult">
        select
        <include refid="Base_Column_List"/>
        from D_USER u where u.COMPANY = #{company}
    </select>

    <select id="getByEmail" resultMap="userResult">
        select
        <include refid="Base_Column_List"/>
        from D_USER u where u.EMAIL_ADDRESS = #{emailAddress}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into D_USER(
            USER_NAME,
            PASSWORD,
            SEX,
            EMAIL_ADDRESS,
            ACTIVATED,
            LAST_VISIT,
            COMPANY,
            PHONE,
            USER_ROLE_ID,
            BIZ_ID,
            SALES_MAN,
            TYPE
        ) values (
            #{userName},
            #{password},
            #{sex},
            #{emailAddress},
            #{activated},
            #{lastVisit},
            #{company},
            #{phone},
            #{userRoleId},
            #{bizId},
            #{salesMan},
            #{type}
        )
  </insert>
</mapper>