<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.cooperation.mapper.IsvApplyMapper">

    <resultMap id="isvApplyResult" type="cn.muye.cooperation.domain.IsvApply">
        <result property="id" column="ID"/>
        <result property="companyName" column="COMPANY_NAME"/>
        <result property="contact" column="CONTACT"/>
        <result property="context" column="CONTEXT"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="phoneNumber" column="PHONE_NUMBER"/>
        <result property="status" column="STATUS"/>
        <result property="email" column="EMAIL"/>
        <result property="comment" column="COMMENT"/>
        <result property="userName" column="USER_NAME"/>
        <result property="password" column="PASSWORD"/>
    </resultMap>

    <select id="list" resultMap="isvApplyResult">
        select ID,
                COMPANY_NAME,
                CONTACT,
                CONTEXT,
                CREATE_TIME,
                UPDATE_TIME,
                PHONE_NUMBER,
                STATUS,
                EMAIL,
                COMMENT,
                USER_NAME,
                PASSWORD
         from D_ISV_APPLY
         order by ID desc
    </select>

    <select id="getById" resultMap="isvApplyResult">
        select ID,
            COMPANY_NAME,
            CONTACT,
            CONTEXT,
            CREATE_TIME,
            UPDATE_TIME,
            PHONE_NUMBER,
            STATUS,
            EMAIL,
            COMMENT,
            USER_NAME,
            PASSWORD
        from D_ISV_APPLY where ID = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
      insert into D_ISV_APPLY(
                COMPANY_NAME,
                CONTACT,
                CONTEXT,
                CREATE_TIME,
                PHONE_NUMBER,
                STATUS,
                EMAIL,
                COMMENT,
                USER_NAME,
                PASSWORD)
            values (
                #{companyName},
                #{contact},
                #{context},
                #{createTime},
                #{phoneNumber},
                0,
                #{email},
                #{comment},
                #{userName},
                #{password}
                )
    </insert>

    <update id="update">
        update D_ISV_APPLY
        set STATUS = #{status},
            UPDATE_TIME = #{updateTime}
        where ID = #{id}
    </update>

</mapper>