<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.mapper.CategoryMapper">

  <resultMap id="categoryResult" type="cn.muye.model.Category">
    <result property="id" column="ID"/>
    <result property="pid" column="PID"/>
    <result property="name" column="NAME"/>
    <result property="sdkId" column="SDK_ID"/>
  </resultMap>

  <select id="listCategories" resultMap="categoryResult">
    select ID,PID,NAME,SDK_ID from CATEGORY
  </select>

  <select id="getByPid" resultMap="categoryResult">
    select ID,PID,NAME,SDK_ID from CATEGORY where PID = #{pid}
  </select>

  <select id="getById" resultMap="categoryResult">
    select ID,PID,NAME,SDK_ID from CATEGORY where ID = #{id}
  </select>

  <insert id="saveCategory"  useGeneratedKeys="true" keyProperty="id">
    insert into CATEGORY(
    PID,
    NAME,
    SDK_ID
    ) values (
    #{pid},
    #{name},
    #{sdkId}
    )
  </insert>

  <update id="updateCategory">
    update CATEGORY set PID = #{pid}, NAME = #{name}, SDKID = #{sdkId} where ID = #{id}
  </update>

  <delete id="deleteById">
    delete from CATEGORY where ID = #{id}
  </delete>

</mapper>