<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.mapper.DocumentMapper">

  <resultMap id="documentResult" type="cn.muye.model.Document">
    <result property="id" column="ID"/>
    <result property="title" column="TITLE"/>
    <result property="content" column="CONTENT"/>
    <result property="categoryId" column="CATEGORY_ID"/>
    <result property="createTime" column="CREATE_TIME"/>
    <result property="updateTime" column="UPDATE_TIME"/>
  </resultMap>

  <select id="listDocuments" resultMap="documentResult">
    select ID,TITLE,CONTENT,CATEGORY_ID,CREATE_TIME,UPDATE_TIME from DOCUMENT
  </select>

  <select id="getById" resultMap="documentResult">
    select ID,TITLE,CONTENT,CATEGORY_ID,CREATE_TIME,UPDATE_TIME from DOCUMENT where ID = #{id}
  </select>

  <select id="getByCategoryId" resultMap="documentResult">
    select TITLE,CONTENT,CATEGORY_ID,CREATE_TIME,UPDATE_TIME from DOCUMENT where CATEGORY_ID = #{categoryId}
  </select>

  <insert id="saveDocument" useGeneratedKeys="true" keyProperty="id">
    insert into DOCUMENT(
    TITLE,
    CONTENT,
    CATEGORY_ID,
    CREATE_TIME,
    UPDATE_TIME
    ) values (
    #{title},
    #{content},
    #{categoryId},
    #{createTime},
    #{updateTime}
    )
  </insert>

  <update id="updateDocument">
    update DOCUMENT set TITLE = #{title}, CONTENT = #{content}, CATEGORY_ID = #{categoryId}, CREATE_TIME = #{createTime}, UPDATE_TIME = #{updateTime} where ID = #{id}
  </update>

  <delete id="deleteById">
    delete from DOCUMENT where ID = #{id}
  </delete>

</mapper>