<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.mapper.MenuMapper">

    <resultMap id="menuResult" type="cn.muye.model.Menu">
        <result property="id" column="ID"/>
        <result property="originId" column="ORIGIN_ID"/>
        <result property="parentId" column="PARENT_ID"/>
        <result property="name" column="NAME"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="isValid" column="IS_VALID"/>
        <result property="versionId" column="VERSION_ID"/>
        <result property="content" column="CONTENT"/>
        <result property="url" column="URL"/>
    </resultMap>

    <select id="listMenus" resultMap="menuResult">
        select ID,PARENT_ID,NAME,ORIGIN_ID,CREATE_TIME,UPDATE_TIME,VERSION_ID,CONTENT,URL,IS_VALID from D_MENU where IS_VALID = 1
        <if test="versionId != null">
            and VERSION_ID = #{versionId}
        </if>
        ORDER BY ID DESC
    </select>

    <select id="getByPid" resultMap="menuResult">
        select ID,PARENT_ID,NAME,ORIGIN_ID,CREATE_TIME,UPDATE_TIME,VERSION_ID,CONTENT,URL,IS_VALID from D_MENU
        where PARENT_ID = #{parentId} and IS_VALID = 1
        ORDER BY ID DESC
    </select>

    <select id="getByVersionId" resultMap="menuResult">
        select ID,PARENT_ID,NAME,ORIGIN_ID,CREATE_TIME,UPDATE_TIME,VERSION_ID,CONTENT,URL,IS_VALID from D_MENU where VERSION_ID = #{versionId} and IS_VALID = 1
        ORDER BY ID DESC
    </select>

    <select id="getById" resultMap="menuResult">
        select ID,PARENT_ID,NAME,ORIGIN_ID,CREATE_TIME,UPDATE_TIME,VERSION_ID,CONTENT,URL,IS_VALID from D_MENU where ID = #{id} and IS_VALID = 1
    </select>

    <select id="listMenusByParentId" resultMap="menuResult">
        select ID,PARENT_ID,NAME,ORIGIN_ID,CREATE_TIME,UPDATE_TIME,VERSION_ID,CONTENT,URL,IS_VALID from D_MENU where PARENT_ID = #{id} and IS_VALID = 1
        ORDER BY ID DESC
    </select>

    <insert id="saveMenu" useGeneratedKeys="true" keyProperty="id">
    insert into D_MENU(
        PARENT_ID,
        NAME,
        CREATE_TIME,
        UPDATE_TIME,
        VERSION_ID,
        ORIGIN_ID,
        CONTENT,
        URL，
        IS_VALID
    ) values (
        #{parentId},
        #{name},
        #{createTime},
        #{updateTime},
        #{versionId},
        #{originId},
        #{content},
        #{url},
        true
        )
  </insert>

    <update id="updateMenu">
      update D_MENU set
      PARENT_ID = #{parentId},
      UPDATE_TIME = #{updateTime},
      VERSION_ID = #{versionId},
      CONTENT = #{content},
      URL = #{url},
      NAME = #{name},
      ORIGIN_ID = #{originId}
      where ID = #{id}
    </update>

    <delete id="deleteById">
      UPDATE D_MENU SET IS_VALID = 0 where ID = #{id}
    </delete>

</mapper>