<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.mapper.PictureMapper">

  <resultMap id="pictureResult" type="cn.muye.model.Picture">
    <result property="id" column="id"/>
    <result property="picId" column="picId"/>
    <result property="picUrl" column="picUrl"/>
    <result property="resultStatus" column="resultStatus"/>
    <result property="createTime" column="createTime"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, picId, picUrl, detailType, resultStatus, createTime
  </sql>

  <insert id="savePicture">
    insert into pic(
    id,
    picId,
    picUrl,
    detailType,
    resultStatus,
    createTime
    ) values (
    #{id},
    #{picId},
    #{picUrl},
    #{detailType},
    #{resultStatus},
    #{createTime}
    )
  </insert>

</mapper>