<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.version.adminApi.mapper.AdminVersionMapper">

  <resultMap id="versionResult" type="cn.muye.version.domain.Version">
    <result property="id" column="ID"/>
    <result property="versionCode" column="VERSION_CODE"/>
    <result property="description" column="DESCRIPTION"/>
    <result property="createTime" column="CREATE_TIME"/>
    <result property="updateTime" column="UPDATE_TIME"/>
    <result property="url" column="URL"/>
    <result property="extendedVersionCode" column="EXTENDED_VERSION_CODE"/>
  </resultMap>

  <select id="listVersions" resultMap="versionResult">
    select ID,VERSION_CODE,DESCRIPTION,URL,CREATE_TIME,UPDATE_TIME,EXTENDED_VERSION_CODE from D_VERSION
    ORDER BY ID DESC
  </select>

  <select id="getById" parameterType="map" resultMap="versionResult">
      <if test="id != null">
        select ID,VERSION_CODE,DESCRIPTION,URL,CREATE_TIME,UPDATE_TIME,EXTENDED_VERSION_CODE from D_VERSION
        where ID = #{id,jdbcType=INTEGER}
      </if>
      <if test="id == null">
        select ID,VERSION_CODE,DESCRIPTION,URL,CREATE_TIME,UPDATE_TIME,EXTENDED_VERSION_CODE from D_VERSION ORDER BY ID DESC LIMIT 1
      </if>
  </select>

  <select id="getByCode" parameterType="String" resultMap="versionResult">
        select ID,VERSION_CODE,DESCRIPTION,URL,CREATE_TIME,UPDATE_TIME,EXTENDED_VERSION_CODE from D_VERSION where VERSION_CODE = #{versionCode}
  </select>

  <insert id="saveVersion" useGeneratedKeys="true" keyProperty="id">
    insert into D_VERSION(
    VERSION_CODE,
    DESCRIPTION,
    CREATE_TIME,
    UPDATE_TIME,
    EXTENDED_VERSION_CODE,
    URL
    ) values (
    #{versionCode},
    #{description},
    #{createTime},
    #{updateTime},
    #{extendedVersionCode},
    #{url}
    )
  </insert>

  <update id="updateVersion">
    update D_VERSION set VERSION_CODE = #{versionCode}, DESCRIPTION = #{description}, URL = #{url}, CREATE_TIME = #{createTime}, UPDATE_TIME = #{updateTime} where ID = #{id}
  </update>

  <delete id="deleteById">
    delete from D_VERSION where ID = #{id}
  </delete>

</mapper>