<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.shiro.mapper.AdminRoleMapper">

    <resultMap id="roleResult" type="cn.muye.shiro.domain.Role">
        <result property="id" column="ID"/>
        <result property="enName" column="EN_NAME"/>
        <result property="cnName" column="CN_NAME"/>
    </resultMap>

    <select id="listRole" resultMap="roleResult">
        select ID,EN_NAME,CN_NAME from D_ROLE order by ID desc
    </select>

    <select id="getById" resultMap="roleResult">
        select ID,EN_NAME,CN_NAME from D_ROLE
        where ID= #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into D_ROLE(
            EN_NAME,
            CN_NAME
        ) values (
            #{enName},
            #{cnName}
        )
    </insert>

    <update id="update">
        update
          D_ROLE
        set
          EN_NAME = #{enName},
          CN_NAME = #{cnName}
        where ID = #{id}
    </update>

    <!--<delete id="deleteById">-->
        <!--UPDATE D_MENU SET IS_VALID = 0 where ID = #{id}-->
    <!--</delete>-->

</mapper>