<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.shiro.mapper.AdminPermissionMapper">

    <resultMap id="permissionResult" type="cn.muye.shiro.domain.Permission">
        <result property="id" column="ID"/>
        <result property="url" column="URL"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="pattern" column="PATTERN"/>
    </resultMap>

    <select id="listPermissionsByIds" resultMap="permissionResult">
        select ID,URL,DESCRIPTION,PATTERN from D_PERMISSION
        where ID in
        <foreach collection="list" item="permissionIdList"  open="(" separator="," close=")">
            #{permissionIdList}
        </foreach>
        order by ID desc
    </select>

    <select id="listPermissions" resultMap="permissionResult">
        select ID,URL,DESCRIPTION,PATTERN from D_PERMISSION order by ID desc
    </select>

</mapper>