<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.shiro.mapper.AdminUserRoleMapper">

    <resultMap id="userRoleResult" type="cn.muye.shiro.domain.UserRole">
        <result property="uId" column="UID"/>
        <result property="rId" column="RID"/>
    </resultMap>

    <select id="listUserRolesByUserId" resultMap="userRoleResult">
        select UID,RID from D_USER_ROLE
        where UID= #{uId}
    </select>

    <delete id="deleteByUserId">
      delete from D_USER_ROLE where UID = #{uId}
    </delete>

    <insert id="bindUserRole" parameterType="map">
        insert into D_USER_ROLE(RID,UID)
        values (#{roleId}, #{userId})
    </insert>

</mapper>