<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">title</title>
</head>
<body>
<div align="center" style="color:#22B14C">
    <h2 th:utext="${topic}">topic</h2>
    <h2 th:utext="${description}">description</h2>
    <h2 th:utext="${location}">location</h2>
    <h2 th:utext="${time}">time</h2>
    <h2 th:utext="${teacher}">teacher</h2>
    <h2 th:utext="${webexUrl}">webexUrl</h2>
</div>
</body>
</html>