<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.muye.cooperation.adminApi.mapper.AdminIsvApplyMapper">

    <resultMap id="isvApplyResult" type="cn.muye.cooperation.domain.IsvApply">
        <result property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="url" column="URL"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="status" column="STATUS"/>
    </resultMap>

    <resultMap id="isvApplyUserResult" type="cn.muye.cooperation.dto.IsvApplyDto">
        <result property="id" column="ID"/>
        <result property="userId" column="USER_ID"/>
        <result property="url" column="URL"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="status" column="STATUS"/>
        <result property="userName" column="USER_NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="email" column="EMAIL_ADDRESS"/>
    </resultMap>

    <select id="list" resultMap="isvApplyUserResult" parameterType="Integer">
        select agent.ID,
                IFNULL(agent.USER_ID,'') as USER_ID,
                IFNULL(agent.URL,'') as URL,
                IFNULL(agent.DESCRIPTION,'') as DESCRIPTION,
                IFNULL(date_format(agent.CREATE_TIME, '%Y-%m-%d'),'') as CREATE_TIME,
                IFNULL(date_format(agent.UPDATE_TIME, '%Y-%m-%d'),'') as UPDATE_TIME,
                IFNULL(agent.STATUS,'') as STATUS,
                IFNULL(user.USER_NAME,'') as USER_NAME,
                IFNULL(user.PHONE,'') as PHONE,
                IFNULL(user.EMAIL_ADDRESS,'') as EMAIL_ADDRESS
         from D_ISV_APPLY agent inner join D_USER user on agent.USER_ID = user.ID
         where 1=1
        <if test="map.statusList != null">
            and agent.STATUS in
            <foreach collection="map.statusList" item="statusId" index="index"
                     open="(" close=")" separator=",">
                #{statusId}
            </foreach>
        </if>
         order by ID desc
    </select>

    <select id="getById" resultMap="isvApplyResult">
        select agent.ID,
                agent.USER_ID,
                agent.URL,
                agent.DESCRIPTION,
                agent.CREATE_TIME,
                agent.UPDATE_TIME,
                agent.STATUS
        from D_ISV_APPLY agent
        where agent.ID = #{id}
    </select>

    <select id="getByIdWithUser" resultMap="isvApplyUserResult">
        select agent.ID,
                IFNULL(agent.USER_ID,'') as USER_ID,
                IFNULL(agent.URL,'') as URL,
                IFNULL(agent.DESCRIPTION,'') as DESCRIPTION,
                IFNULL(agent.STATUS,'') as STATUS,
                IFNULL(date_format(agent.CREATE_TIME, '%Y-%m-%d'),'') as CREATE_TIME,
                IFNULL(date_format(agent.UPDATE_TIME, '%Y-%m-%d'),'') as UPDATE_TIME,
                IFNULL(user.USER_NAME,'') as USER_NAME,
                IFNULL(user.PHONE,'') as PHONE,
                IFNULL(user.EMAIL_ADDRESS,'') as EMAIL_ADDRESS
         from D_ISV_APPLY agent inner join D_USER user on agent.USER_ID = user.ID
          where agent.ID = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
      insert into D_ISV_APPLY(
                USER_ID,
                URL,
                DESCRIPTION,
                CREATE_TIME,
                STATUS)
            values (
                #{userId},
                #{url},
                #{description},
                #{createTime},
                #{status}
                )
    </insert>

    <update id="update">
        update D_ISV_APPLY
        set STATUS = #{status},DESCRIPTION=#{description},UPDATE_TIME = #{updateTime}
        where ID = #{id}
    </update>

</mapper>